APScheduler==3.11.0
dbus-python==1.3.2
MouseInfo==0.1.3
pillow==11.1.0
PyAutoGUI==0.9.54
pycairo==1.27.0
PyGetWindow==0.0.9
PyGObject==3.50.0
PyMsgBox==1.0.9
pyperclip==1.9.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.16.1
PyRect==0.2.0
PyScreeze==1.0.1
python3-xlib==0.15
pytweening==1.2.0
tzlocal==5.2
